// break point
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
$desktop-max-width: 1440px;
$moblie-max-width: 400px;

// header
$header-height-mobile: 56px;
$header-height-tablet: 56px;
$header-height-desktop: 82px;
$score-header-height: 64px;

// footer
$footer-height: 439px;

// dvh
$dvh: var(--vh, 1vh);

// cvw
$cvw: var(--cvw, 100vw);

//리라 디자인 시스템
//Logo
$desktop-logo-width: 186px;
$desktop-logo-height: 64px;

//Color
//primary
$primary-light: #ffeee6;
$primary-light-hover: #ffeee6;
$primary-light-active: #ffc2a5;
$primary-normal: #fe5000;
$primary-normal-hover: #e54800;
$primary-normal-active: #cb4000;
$primary-dark: #bf3c00;
$primary-dark-hover: #983000;
$primary-dark-active: #722400;
$primary-dark-disabled: #591c00;

//blue
$secondary-normal: #0095f6;
$secondary-active: #005994;
$secondary-disabled: #56b7f7;
$secondary_hover: #0073c3;

//text
$text-active: #000000;
$text-default: #1a1a1a;
$text-333333: #333333;
$text-on-light: #666666;
$text-muted: #878789;
$text-disabled: #b8b8bb;
$text-eaeaea: #eaeaea;
$text-white: #ffffff;

//grayscale
$grayscale-black: #0a0a0a;
$grayscale-black90: #424242;
$grayscale-black80: #616161;
$grayscale-black70: #757575;
$grayscale-black60: #9b9ca0;
$grayscale-black50: #c2c2c2;
$grayscale-black40: #dfdfe2;
$grayscale-black30: #eaebee;
$grayscale-black20: #f3f3f6;
$grayscale-white: #ffffff;

//line
$line-border-1: #eaeaea;
$line-border-2: #f1f1f1;
$line-border-3: #f6f6f6;
$line-input-border: #cbcdd1;

//success
$success-normal: #1bd14f;
$success-light: #d2f6dc;
$success-light-hover: #49da72;
$success-light-active: #16a73f;
$success-dark: #05460d;
$success-light-secondary: #cfe2d1;

//negative
$negative-normal: #fd3d51;
$negative-light: #ffecee;
$negative-light-hover: #ca3141;
$negative-light-active: #982531;
$negative-dark: #ffeee6;
$negative-light-secondary: #ffeee6;

//Typography
/* 기본 서체는 Pretendard를 사용합니다. 
Heading은 상단에 위치하며 큰 제목에 사용됩니다. 
Subtitle은 헤드라인 아래에 위치하며 부제목이나 추가 정보를 제공합니다. 
Body는 기본 텍스트로 사용합니다. Button은 버튼에 사용합니다. 
Caption은 이미지나 그래픽 요소에 대한 설명을 하거나 이미지 하단에 표시합니다. 
Overline은 텍스트 블록 상단에 작은 선 또는 텍스트로 사용합니다.주제 강조*/
//font-size
$font-size-h1: 48px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-sub1: 16px;
$font-size-sub2: 14px;
$font-size-sub3: 13px;
$font-size-sub4: 12px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;
$font-size-caption1: 14px;
$font-size-caption2: 12px;

//font-weight
$font-weight-h: 500;
$font-weight-sub: 500;
$font-weight-body: 400;
$font-weight-button: 400;
$font-weight-caption: 500;

//line-height
$line-height-h1: 72px;
$line-height-h2: 48px;
$line-height-h3: 36px;
$line-height-h4: 30px;
$line-height-sub1: 16px;
$line-height-sub2: 14px;
$line-height-sub3: 13px;
$line-height-sub4: 12px;
$line-height-body1: 24px;
$line-height-body2: 21px;
$line-height-button: 18px;
$line-height-caption1: 18px;
$line-height-caption2: 16px;

//Shadow
$shadow-xs: 0px 1px 2px 0px #1018280d;
$shadow-sm: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
$shadow-md: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
$shadow-lg: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
$shadow-xl: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;
$shadow-2xl: 0px 24px 48px -12px #1018282e;
$shadow-3xl: 0px 32px 64px -12px #10182824;

//Score color
$score-back: #fafafb;
$score-border: #eceef1;
